/ch-1-Exercise-1~
/ch-1-Exercise-2~
/ch-2-Exersise-1.html~
/ch-2-Exersise-2.html~
/chapter11/ch-11-Exercise-1.html~
/chapter11/ch-11-Exercise-2.html~
/chapter11/ch-11-Exercise-3.html~
/Chapter 1/ch-1-Exercise-2~
/Chapter 2/ch-2-Exersise-1.html~
/Chapter 2/ch-2- Exersise-2.html~
/Chapter 2/ch-2-Exersise-3.html~
/Chapter 4 /ch-4-Exercise-1.html~
/Chapter 5/ch-5-Exercise-1.html~
/Chapter 5/ch-5-Exercise-3.html~
/Chapter 5/ch-5-Exercise-4.html~
/Chapter 5/ch-5-Exercise-5.html~
/Chapter 5/ch-5-Exercise-6.html~
/Chapter 6/ch-6-Exercise-1.html~
/Chapter 6/ch-6-Exercise-2.html~
/Chapter 6/ch-6-Exercise-3.html~
/Chapter 6/ch-6-Exercise-4.html~
/Chapter 7/ch-7Exercise-1.html~
